- haz un modelo que calcule el precio de la bolsa mañana, con estos datos

In [4]:
path = '/workspaces/ML/data/stock/output/c_vs_r.csv'

1. cargar datos
2. seleccionar variable objetivo: que quiero predecir, que me interesa?
    1. y = 'T.Direction'
    2. X = df.drop(columns='T.Direction')

- Problemas de Machine Learning:
    - Conocimiento del dominio
    - Conocimiento de machine learning (algoritmos)
    - Conocimiento de programacion

In [5]:
import pandas as pd

In [16]:
df = pd.read_csv(path, index_col=0)
df

,Open,High,Low,Close,Volume,T.Change,T.Direction
Date,,,,,,,
2020-01-02,59.687500,59.977501,59.180000,59.741238,23753600,-0.016006,DOWN
2020-01-03,58.775002,59.457500,58.525002,58.785030,20538400,0.004193,UP
2020-01-06,58.080002,59.317501,57.817501,59.031540,26263600,0.012107,UP
2020-01-07,59.549999,60.442501,59.097500,59.746223,31485600,0.001876,UP
2020-01-08,59.939999,60.509998,59.537498,59.858280,27710800,0.010983,UP
...,...,...,...,...,...,...,...
2024-05-02,844.489990,862.369995,832.000000,858.169983,37789800,0.034632,UP
2024-05-03,877.890015,892.809998,870.400024,887.890015,39834100,0.037741,UP
2024-05-06,893.900024,922.200012,890.549988,921.400024,37620300,-0.017213,DOWN
2024-05-07,910.979980,917.809998,823.250000,905.539978,43734200,-0.001568,DOWN
2024-05-08,894.830017,911.940002,894.200012,904.119995,32572100,-0.018416,DOWN

## Select variables

In [23]:
t = 'T.Direction'
t

'T.Direction'

In [35]:
y = df[t]
X = df.drop(columns=t)

## Modelo de machine learning

In [47]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [48]:
model_kn = KNeighborsClassifier()
model_dt = DecisionTreeClassifier()
model_rf = RandomForestClassifier()

In [45]:
y

Date
2020-01-02    DOWN
2020-01-03      UP
2020-01-06      UP
2020-01-07      UP
2020-01-08      UP
              ...
2024-05-02      UP
2024-05-03      UP
2024-05-06    DOWN
2024-05-07    DOWN
2024-05-08    DOWN
Name: T.Direction, Length: 1095, dtype: object

In [43]:
model_lr.fit(X,y)

ValueError: could not convert string to float: 'DOWN'

In [40]:
y

Date
2020-01-02    DOWN
2020-01-03      UP
2020-01-06      UP
2020-01-07      UP
2020-01-08      UP
              ...
2024-05-02      UP
2024-05-03      UP
2024-05-06    DOWN
2024-05-07    DOWN
2024-05-08    DOWN
Name: T.Direction, Length: 1095, dtype: object

In [38]:
X

                  Open        High         Low       Close    Volume  T.Change
Date
2020-01-02   59.687500   59.977501   59.180000   59.741238  23753600 -0.016006
2020-01-03   58.775002   59.457500   58.525002   58.785030  20538400  0.004193
2020-01-06   58.080002   59.317501   57.817501   59.031540  26263600  0.012107
2020-01-07   59.549999   60.442501   59.097500   59.746223  31485600  0.001876
2020-01-08   59.939999   60.509998   59.537498   59.858280  27710800  0.010983
...                ...         ...         ...         ...       ...       ...
2024-05-02  844.489990  862.369995  832.000000  858.169983  37789800  0.034632
2024-05-03  877.890015  892.809998  870.400024  887.890015  39834100  0.037741
2024-05-06  893.900024  922.200012  890.549988  921.400024  37620300 -0.017213
2024-05-07  910.979980  917.809998  823.250000  905.539978  43734200 -0.001568
2024-05-08  894.830017  911.940002  894.200012  904.119995  32572100 -0.018416

[1095 rows x 6 columns]

In [39]:
y

Date
2020-01-02    DOWN
2020-01-03      UP
2020-01-06      UP
2020-01-07      UP
2020-01-08      UP
              ...
2024-05-02      UP
2024-05-03      UP
2024-05-06    DOWN
2024-05-07    DOWN
2024-05-08    DOWN
Name: T.Direction, Length: 1095, dtype: object